/*--------------------
    RESET
--------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------
    COMMON    
--------------------*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.container {
    max-width: 1150px;
    margin: auto;
}

/*--------------------
    TYPOGRAPHY    
--------------------*/
body {
    font-family: 'Fredoka', sans-serif;
}
h1 {
    font-size: 38px;
    color: #E53170;
    margin-bottom: 40px;
}

/*--------------------
    MAIN    
--------------------*/
.header-section {
    text-align: center;
    padding: 40px 0;
}

.card {
    float: left;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    background-color: #0f0e17;
    color: #fff;
    height: 100px;
    box-shadow: 0px 0px 10px 5px rgb(200 200 200);
    /* 
    border: 2px solid red; */
}
.card-img {
    display: block;
    height: 100%;
    float: left;
}
.card-info {
    float: left;
    width: calc(100% - 100px);
    padding: 9px 15px;
}
.card-info > a {
    text-decoration: none;
    color: #63cbf2;
}
.team-role {
    margin: 10px 0;
}